.about-section {
  margin-top: 5.55rem;
  margin-bottom: 10.1rem;
  padding: 0 3.4rem;
  position: relative;

  .strike-vector {
    position: absolute;
    top: -6rem;
    left: -6rem;
    width: 98.9rem;  
    @include breakpoint("large") {
      visibility: hidden;
    }
  }

  .about_wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;

    .about_image_wrapper {
      img {
        height: 100%;
        width: 100%;
      }

      .logo-10yrs {
        position: absolute;
        max-width: 21.4rem;
        left: 49.9rem;
        top: 2.8rem;
        @include breakpoint("large") {
          visibility: hidden;
        }
      }
    
    }

    .about_info {
      display: flex;
      justify-content: end;

      @include breakpoint("small") {
        justify-content: center;
      }

      .about_content {
        width: 51.1rem;

        @include breakpoint("small") {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        
          text-align: center;
          margin-top: 2.5rem;
          padding: 0 2.5rem;
        }

        .heading {
          padding: 0.65rem 3.2rem 0.5rem 2.3rem;
          border: 0;
          border-radius: 0.4rem;
          background: $light-white;
          max-width: 22.7rem;
          flex-shrink: 0;
          margin-top: 4.95rem;
        }

        .main_heading {
          margin-top: 2rem;
        }

        .para {
          margin-top: 1rem;
          margin-bottom: 2.5rem ;
        }

        .about_points_list {
          padding: 2.6rem 1.5rem;
          font-family: $jakarta-semibold;
          border: 0.1rem solid $border-grey;

          @include breakpoint("small") {
            display: flex;
            justify-content: center;
          }

          .points_listing {
      
            .about_points {
              display: flex;
              align-items: center;
              font-size: 1.8rem;
              padding-top: 0.8rem;

              @include breakpoint("small") {
                min-width: 14.8rem;
              }

              @include breakpoint("xtrasmall") {
                margin: 0.8rem 0 0.8rem 4rem;
              }

              &::before {
                width: 1.6rem;
                height: 1.6rem;
                content: "";
                background: url(/assets/images/icons/right_tick.svg);
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 0.8rem;
              }
            }
          }
        }

        .btn {
          margin-top: 3.3rem;
        }
      }
    }
  }
}
