.finance-yellow-bg {
  position: relative;
  .yellow-bg-img {
    position: absolute;
    right: 0;
    top: -11rem;
    z-index: -1;
    max-width: 80%;
  }
}

.finance-section {
  position: relative;
  padding: 0 2.85rem;
  z-index: 0;



  .finance_info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

   

    .finance_content {
     
      .heading {
        padding: 0.4rem 2.5rem;
        border-radius: 0.4rem;
        background: $light-white;
        max-width: 16.9rem;
        margin-bottom: 2rem;
      }

      h5{
        max-width: 45.7rem
      }
   

      > p {
         max-width: 49.1rem;
        margin: 1rem 0 2rem 0;
      }
      @include breakpoint("small") {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    
      }

     .Finance-type__listing{
      margin-bottom: 7.2rem
     
     }

      .tick-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        p {
          font-family: $jakarta-medium;
          margin-left: 1.8rem;
          line-height: 2.9rem;
        }
      }   
    }
  }
}
